<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server (dev)" type="js.build_tools.npm">
    <package-json value="$PROJECT_DIR$/package.json" />
    <command value="run" />
    <scripts>
      <script value="dev" />
    </scripts>
    <node-interpreter value="project" />
    <envs />
    <method v="2" />
  </configuration>
  <configuration default="false" name="Server (produksi)" type="js.build_tools.npm">
    <package-json value="$PROJECT_DIR$/package.json" />
    <command value="run" />
    <scripts>
      <script value="start" />
    </scripts>
    <node-interpreter value="project" />
    <envs />
    <method v="2" />
  </configuration>
  <configuration default="false" name="Build (kompilasi)" type="js.build_tools.npm">
    <package-json value="$PROJECT_DIR$/package.json" />
    <command value="run" />
    <scripts>
    <script value="build" />
    </scripts>
    <node-interpreter value="project" />
    <envs />
    <method v="2" />
  </configuration>
  <configuration default="false" name="Debug Server" type="NodeJSConfigurationType" path-to-node="project" path-to-app="$PROJECT_DIR$/src/server.ts" working-dir="$PROJECT_DIR$" node-parameters="--import tsx">
    <envs />
    <method v="2" />
  </configuration>
</component>
